
BankDepos/.DS_Store
.DS_Store
.DS_Store
SAOD1/out
SAOD1/itemPricement.txt
SAOD1/itemPricementBinary.txt
~$Д Стоимость товара.docx
*.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.exe
.DS_Store
*.1
*.v2
Saod/saod4/TopologicalSort/.vs/TopologicalSort/v17/.suo
Saod/saod4/TopologicalSort/.vs/TopologicalSort/v17/.suo
Вычмат/Koshi/.vs/Koshi/v17/.suo
*.vsidx
*.lock
*.cache
*.json
*.vsidx
