
BankDepos/.DS_Store
.DS_Store
.DS_Store
SAOD1/out
SAOD1/itemPricement.txt
SAOD1/itemPricementBinary.txt
~$Д Стоимость товара.docx
*.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.exe
.DS_Store
*.exe
*.tmp
Saod/saod4/~$hadniy.docx
*.cache
